/**********************************************************  
        BASE STYLES
**********************************************************/
.debug { border: 1px red dashed; }
body,
html {  
  background: #f9f9f9; 
  max-width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;  
  margin: 0;  
  padding: 0; 
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
header { 
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  margin-bottom: 20px; 
  font-family: 'Oleo Script', cursive;
}
header h1 {
  font-size: 1.8rem !important;
}
md-fab-speed-dial {
    position: fixed !important;
    bottom: 15px !important;
    right: 3vw !important;
}
footer { 
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
}
p {
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
img {
  border: 0;
  max-width: 100% !important;
}
.container {
  max-width: 600px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
a:link, 
a:visited, 
a:hover, 
a:focus {
  text-decoration: none;
  color: white;
}
.material-icons { cursor: pointer; }

/**********************************************************  
        SPLASH PAGE
**********************************************************/
.splash-page {
  height: 100vh;
  background-image: url(../images/splash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.splash-page header a { 
  font-size: 1.4rem;
}
.splash-page header { 
  font-size: 1.6rem;
  color: #F5F5F5;
}
.splash-page input, select, textarea { 
  font-size: 1.6rem;
  color: #F5F5F5;
}
.splash-page button {
  background-color: transparent;
  border: 2px solid #F5F5F5;
  color: #F5F5F5;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;  
  margin-bottom: 20px;
  padding: 5px;
  -webkit-transition-duration: 0.8s; /* Safari */
  transition-duration: 0.8s;  
}
.splash-page button:hover {
  background-color: #F5F5F5;
  color: black;
}
.splash-page a, .splash-page p, splash-page h1 { 
  color: white;
  text-shadow: 0 0 1px gray; 
}
.splash-page h1 {
  font-family: 'Oleo Script', cursive;
  font-weight: 700;
  font-size: 2.1rem;
  text-shadow: 0 0 1px gray;
}

/**********************************************************  
        STREAM CARDS
**********************************************************/
.stream {
  margin: auto;
  margin-top: 10px;
  max-width: 600px;
}
.stream a { 
  color: #558B2F;
  font-weight: 500; 
}
.stream p { color: #808080; }
.stream-item {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);   
  margin-bottom: 35px;
  padding-bottom: 10px; 
}
.stream-item__body { padding: 8px; }
.stream-item__body md-input-container {
  margin: 0;
  padding: 0;
}
.stream-item__body img {
  height: 25px;
  width: 25px; 
  border-radius: 50%; 
  margin-right: 8px; 
}
.comments { margin-top: 20px; }
.comments p { margin-bottom: 4px; }
.fish-photo {
  width: 600px;
  margin: auto;
}

/**********************************************************  
        USER PROFILE
**********************************************************/
.user-card {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  color: white;  
  margin-bottom: 5px;
  padding: 8px;
}
.user-card a { 
  color: #558B2F;
  font-weight: 500; 
}
.user-card img {
  margin-right: 10px;
}
.user-grid {
  margin-top: 15px;
  padding-left: 15px;
  max-width: 600px;
}
.user-grid img {
  width: 90%;
  height: 180px;
  margin-bottom: 15px;
  object-fit: cover;
}
.user-favorite-section {
  margin-top: 20px;
}

/**********************************************************  
        UPLOAD PROCESS STYLING
**********************************************************/
.photo-upload-view, .upload-container { margin-top: 35px; }

/**********************************************************  
        SEARCH PAGE STYLING
**********************************************************/
.search-result {
  padding: 5px;
  border-top: solid 1px #e2e9e2;
  border-bottom: solid 1px #e2e9e2;
  border-radius: 3%;
}
.search-result img {
  height: 30px;
  width: 30px; 
  border-radius: 50%; 
  margin-right: 8px; 
}
.search-result p {
  color: #558B2F;
  font-weight: 500;  
}

/**********************************************************  
        LOGIN & REGISTRATION STYLING
**********************************************************/
.login-form, .register-form {
    margin-top: 40px;
}
.register-form a { color:black; }


/**********************************************************  
        ANIMATIONS
**********************************************************/
md-fab-trigger:hover {
  transform: rotate(45deg);
  transition: all 50ms ease-in-out;
}

/**********************************************************  
        UTILITY CLASSES
**********************************************************/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.text-center { text-align: center; }

/**********************************************************  
        MEDIA QUERIES
**********************************************************/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}