body,html {  
  background: #f9f9f9; 
  max-width: 100%;
  overflow-x: hidden;
	-webkit-overflow-scrolling: touch;    
  padding: 0; 
}
a:link, a:visited, a:hover, a:focus {
    text-decoration: none;
} 

.container {
  max-width: 600px;
}

/*BEGIN STYLING FOR THE STREAM CARDS*/
.stream {
  margin: auto;
  margin-top: 50px;
  max-width: 600px;
}
.stream a {
  color: #64B5F6; 
}
.stream p {
  color: #A1A1A1; 
}
.stream-item {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);   
  margin-bottom: 35px; 
}
.stream-item-body {
  padding-left: 8px;
  padding-right: 8px; 
}
.stream-item-body img {
  height: 25px;
  width: 25px; 
  border-radius: 50%; 
  margin-right: 8px;
}
.fish-photo {
  width: 600px;
  margin: auto;
}
/*END STYLING FOR THE STREAM CARDS*/


/*BEGIN STYLING FOR THE USER PROFILE*/
.user-card {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);   
  margin-bottom: 35px;
  padding: 8px;
}
.user-grid {
  margin: auto;
  margin-top: 50px;
  max-width: 600px;
}
.user-grid img {
  
  margin: auto;
  margin-bottom: 5px;
  width: 95%;
}
/*END STYLING FOR THE USER PROFILE*/

md-fab-speed-dial {
    position: fixed !important;
    bottom: 15px !important;
    right: 3vw !important;
}

/* bootstrap classes */
img {
  border: 0;
  max-width: 100% !important;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
