body,html {  
  background: #f9f9f9;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}
a:link, a:visited, a:hover, a:focus {
    text-decoration: none;
} 

.container {
  max-width: 600px;
}

/*BEGIN STYLING FOR THE STREAM CARDS*/
.by-line h5 {
  display: inline-block;
  font-weight: 700;
}
.by-line h5:nth-child(2) {
  float:right;  
}
.stream {
  margin: auto;
  margin-top: 50px;
  max-width: 600px;
}
.stream-item {  
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);   
  margin-bottom: 35px; 
}
.stream-item-body {
  padding-left: 8px;
  padding-right: 8px;  
}
.stream-item img {
  width: 600px;
  margin: auto;
}


/*END STYLING FOR THE STREAM CARDS*/


/*BEGIN STYLING FOR THE USER GRID*/
.user-grid {
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
}
.user-grid img {
  
  margin: auto;
  margin-bottom: 5px;
  width: 95%;
}
/*END STYLING FOR THE USER GRID*/



