<div class="container">
  <h2>Workouts</h2>


  <form class="form-inline" role="form" ng-model="newCatch" ng-submit="addWorkout(newTodo)">

  <div class="form-group">
    <input type="text" ng-model="newTodo.name" placeholder="What Workout are you doing?" class="form-control">
  </div>
    <input type="submit" class="btn btn-primary" value="Add">
</form>

<div ng-repeat="catch in catches">
	<div class="panel panel-default">
			<div class="panel-heading">{{catch.title}}</div>
			<div class="panel-body">
				<div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">

						<div class="panel panel-default">
							<div class="panel-body"><img ng-src="{{catch.fishPhoto}}" alt="" class="img-responsive center-block" />
						</div>
					</div>                
				</div>
			</div>
		</div>	

</div>
