<div class="container"> 
  <form class="form-horizontal" ng-submit="loginUser()">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Login</legend>
  
  <!-- Username input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Username">Username</label>  
    <div class="col-md-4">
    <input id="Username" name="Username" ng-model="username" type="text" placeholder="username" class="form-control input-md" required="">
  
    </div>
  </div>
  
  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="password">password</label>
    <div class="col-md-4">
      <input id="password" name="password" ng-model="password" type="password" placeholder="password" class="form-control input-md" required="">
  
    </div>
  </div>
  
  
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="login"></label>
    <div class="col-md-4">
      <button id="login" type="submit" value="add" name="login" class="btn btn-primary">login</button>
    </div>
  </div>
  
  </fieldset>
  </form>
</div>