<div class="container">  
  <form ng-submit="loginUser()">
   <h1 class="md-display-3 text-center">Upstream.</h1>
   <h1 class="md-display-1 text-center">It's fish all the way down.</h1>
          
   <div layout="column"> 
      <!-- Username and password input--> 
          <md-input-container flex>
              <label>Username</label>
              <input autocapitalize="off" ng-model="username">
          </md-input-container>
          <md-input-container flex>
              <label>Password</label>
              <input type="password" autocapitalize="off" ng-model="password">
          </md-input-container>   
      <!-- Button -->
      <md-button class="md-raised md-primary" layout-align="center">Login</md-button>
   </div>
   
   <h4 class="md-body-3 text-center">New to Upstream? <a ng-href="#/registration">Create an account.</a></h4>
   
  </form>
</div>