<div class="container">  
  <form ng-submit="loginUser()">

  <!-- Form Name -->
  <h1 class="md-display-3 text-center">Welcome to Upstream!</h1>
  
  <!-- Username and password input-->
  <md-input-container flex>
      <label>Username</label>
      <input ng-model="username">
   </md-input-container>
   <md-input-container flex>
      <label>Password</label>
      <input ng-model="password">
   </md-input-container>
  
  <!-- Button -->
  <md-button class="md-raised">Login</md-button>

  </form>
</div>