<header>
    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="center end">
            <a ng-href="#/stream"> angler</a>
            <div flex></div>
            <a ng-href="#/search" class="material-icons" layout-margin>search</a>
            <a ng-href="#/user/{{currentUser.id}}" class="material-icons" layout-margin>person</a>
        </div>
    </md-toolbar>
</header>
<div class="stream">   
	<div class="stream-item" ng-repeat="catch in catches | orderBy: '-created_at'">	
        <div class="stream-item-body">
            <div layout layout-align="center center" >
                <img src="images/avatar.png" alt="avatar"/> 
                <p class="md-body-1" flex><a ng-href="#/user/{{catch.owner.id}}">{{catch.owner.username}}</a></p>
                <p class="md-subhead" ng-style="{ 'color' : (catch.liked) ? '#ff6666' : '#c2c2d6' }">{{catch.likes}}</p> 
                <div class="material-icons" aria-label="Favorite" ng-style="{'color' : (catch.liked) ? '#ff6666' : '#c2c2d6' }" ng-click="likePhoto(catch)">favorite</div>
            </div> 
        </div>       
        <a ng-href="#/catch/{{catch.id}}"><img ng-src="{{catch.fishPhoto}}" class="img-responsive fish-photo"></a>       
        <div class="stream-item-body">            	                                                   
            <div layout>
                <div layout="column" flex>
                    <p class="md-body-1"><a ng-href="#/user/{{catch.owner.id}}">{{catch.location}}</a></p>
                    <p class="md-subhead">{{catch.title}}</p>
                 </div>
                <div layout="column">
                    <p class="md-body-1"><a ng-href="#/catch/{{catch.id}}" am-time-ago="catch.created_at"></a></p>
                    <p class="md-caption" ng-show="catch.length>0">{{catch.length}} inches </p>
                </div>                                                                                                                                      
            </div>
            <div class="comments">
                <p  ng-repeat="comment in catch.comments | limitTo:commentLimit"><a ng-href="#/user/{{comment.owner.id}}">{{comment.owner.username}}</a> {{ comment.text }}</p>
                <md-button class="md-accent" ng-show="catch.comments.length > commentLimit && commentLimit != null" ng-click="loadAllComments()">See all...</md-button>
                <md-button class="md-accent" ng-show="commentLimit == null" ng-click="collapseComments()">Collapse...</md-button>
            </div>                              
            <div layout layout-align="space-between end">
                <md-input-container flex="60">
                    <label>Comment</label>
                    <input ng-model="catch.newComment.text">
                </md-input-container>                
                <md-button class="md-raised md-primary" ng-show="catch.newComment.text.length > 0" ng-click="postComment(catch,catch.newComment.text)">Submit</md-button>               
            </div>
        </div> 
	</div>
    <div layout>
        <md-button class="md-accent" ng-click="loadMoreCatches()" flex>Load more...</md-button>
    </div>    
    <md-fab-speed-dial md-direction="up" class="md-fab-bottom-right md-scale" ng-show="authenticated">
        <md-fab-trigger>
            <md-button aria-label="Add" class="md-fab md-accent material-icons">add</md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <a ng-href="#/upload"><md-button aria-label="Photo" class="md-fab md-accent md-raised md-mini material-icons">insert_photo</md-button></a>
        </md-fab-actions>
    </md-fab-speed-dial> 
</div>
