

<div class="container">
  
  <h1 class="md-display-2 text-center">Let's see those fish.</h1>
  
  <h3 class="md-display-3 text-center" ng-show="picFile.result">Upload Successful!</h3>

  <form name="myForm">
      
   
      <div class="form-group">
       
        
             
        <md-button input class="md-raised" type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required>Upload</md-button>
        <h6 class="md-caption">Maximum file size of 2MB</h6>
        
        <md-input-container flex>
          <label>Describe this photo</label>
          <input ng-model="title">
        </md-input-container>
        
        <i ng-show="myForm.file.$error.maxSize">File too large 
            {{picFile.size / 1000000|number:1}}MB: max 2M</i>
        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
       
        
        <md-button class="md-raised" ng-click="picFile = null" ng-show="picFile">Remove</md-button>
              
        <md-button class="md-raised" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)" ng-show="picFile">Submit</md-button>
        
        <span class="progress" ng-show="picFile.progress >= 0">
          <div style="width:{{picFile.progress}}%" 
              ng-bind="picFile.progress + '%'"></div>
        </span>
        
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      </div>
  
  
      
    

</div>  
