<div class="container"> 
  <p class="md-display-2 text-center" ng-hide="picFile">Let's see those fish.</p> 
  <p class="md-display-3 text-center" ng-show="picFile.result">Upload Successful!</p>
  <form name="myForm"> 
      <div class="form-group">       
        <div layout="column">     
            <md-button input 
                       class="md-raised md-accent" 
                       type="file" 
                       ngf-select 
                       ng-model="picFile" 
                       ng-hide="picFile" 
                       name="file"    
                       accept="image/*"  
                       ngf-resize-if="$width > 800"
                       ngf-resize="{width: 800, quality: 1.0, centerCrop: true}"  
                       required>Choose photo</md-button>
            <p class="md-caption text-center" ng-hide="picFile">Maximum file size of 2MB</p>
        </div>
              
        <i ng-show="myForm.file.$error.maxSize">File too large 
            {{picFile.size / 1000000|number:1}}MB: max 2M</i>
        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="img-responsive">
       
        <p class="md-display-1" ng-show="picFile">Describe this photo</p>
        <md-input-container flex ng-show="picFile" md-no-float>
          <input ng-model="title">
        </md-input-container>
        <p class="md-display-1" ng-show="picFile">Where was this photo taken</p>
        <md-input-container flex ng-show="picFile" md-no-float>
          <input ng-model="location">
        </md-input-container>    
        
        <div layout="row" flex>
            <md-button class="md-raised md-warn" ng-click="picFile = null" ng-show="picFile" flex>Remove</md-button>              
            <md-button class="md-raised md-accent" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)" ng-show="picFile" flex>Submit</md-button>
        </div>
        
        <span class="progress" ng-show="picFile.progress >= 0">
          <div style="width:{{picFile.progress}}%" 
              ng-bind="picFile.progress + '%'"></div>
        </span>
        
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      </div>
</div>  
