<div class="container photo-upload-view"> 
  <p class="md-display-3 text-center" ng-show="picFile.result">Upload Successful!</p>
  <form name="myForm">     
      <div class="form-group">
            <!-- Upload photo screen of upload process -->
            <div ng-hide="photoSelected || photoDetailsCompleted">
                <!-- Navigation buttons --> 
                <div ng-show="picFile">
                    <p class="md-display-2 text-center">Photo preview</p>
                    <div class="upload-container" layout>
                        <md-button class="md-raised" ng-click="picFile=null" flex>BACK</md-button>
                        <div flex></div>
                        <md-button class="md-raised md-accent" ng-disabled="!myForm.$valid" ng-click="selectPhoto()" flex>NEXT</md-button>
                    </div>
                </div>                      
                <div layout="column" ng-hide="picFile">
                    <p class="md-display-2 text-center">Share a photo</p>
                    <div class="upload-container" layout>
                        <md-button ng-href="#/stream" class="md-raised" flex>BACK</md-button>
                        <div flex></div>
                        <md-button input 
                                class="md-raised md-accent" 
                                type="file" 
                                ngf-select 
                                ng-model="picFile" 
                                name="file"    
                                accept="image/*"  
                                ngf-resize-if="$width > 800"
                                ngf-resize="{width: 800, quality: 1.0, centerCrop: true}"
                                ngf-fix-orientation="true"  
                                required
                                flex>
                                BROWSE
                        </md-button>                        
                    </div>                    
                    <img class="photo-upload-area" src="images/photo-upload.svg" width="600px" />                            
                </div>
                <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="img-responsive">
            </div>                   
         
       
            <!-- Photo detail screen of upload process -->
            <div ng-show="photoSelected">
                <p class="md-display-2 text-center">Photo details</p>
                <div class="upload-container">
                    <!-- Navigation buttons -->
                    <div layout>
                        <md-button class="md-raised" ng-click="photoSelected=false" flex>BACK</md-button>
                        <div flex></div>
                        <md-button class="md-raised md-accent" ng-disabled="!myForm.$valid" ng-click="completePhotoDetails()" ng-show="picFile" flex>NEXT</md-button>
                    </div>
                    <!-- Photo details input -->                    
                    <md-input-container flex>
                        <label>Describe this photo</label>
                        <input ng-model="title">
                    </md-input-container>

                    <md-input-container flex>
                        <label>Where was this photo taken?</label>
                        <input ng-model="location">
                    </md-input-container>
                </div>
            </div>
            
            <!-- Fish detail screen of upload process -->
            <div ng-show="photoDetailsCompleted">
                <p class="md-display-2 text-center">Fish details</p>
                <div class="upload-container">
                    <!-- Navigation buttons -->
                    <div layout>
                        <md-button class="md-raised" ng-click="unCompletePhotoDetails()" flex>BACK</md-button>
                        <div flex></div>
                        <md-button class="md-raised md-accent" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)" ng-show="picFile" flex>Submit</md-button>
                    </div>
                    <!-- Fish details input -->                    
                    <div layout layout-align="start center">
                        <p flex>Length</p>
                        <p>{{ length }} inches</p>
                    </div>
                    <md-slider flex min="0" max="100" ng-model="length" aria-label="length" id="length-slider"></md-slider>
                    
                    <div layout layout-align="start center">
                        <p flex>Weight - disabled</p>
                        <p>{{ weight }} lbs</p>
                    </div>
                    <md-slider flex min="0" max="100" ng-model="weight" aria-label="weight" id="weight-slider"></md-slider>
                    
                    <p>Tags</p>
                    <md-chips class="md-primary" ng-model="tags"></md-chips>
                </div>
            </div>            
            
        
        <span class="progress" ng-show="picFile.progress >= 0">
          <div style="width:{{picFile.progress}}%" 
              ng-bind="picFile.progress + '%'"></div>
        </span>
        
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      </div>
</div>  
