<div class="container text-center">
	<h1 class="md-display-3 text-center">Photos by {{user.username}}</h1>
</div>

<div class="user-grid" layout-wrap layout="row">
	<div  flex="33" layout layout-align="center center" ng-repeat="catch in user.catches | orderBy: '-created_at'">
		<a ng-href="#/user/{{catch.owner}}/{{catch.id}}"><img ng-src="{{catch.fishPhoto}}"  height="180" width="180"></a>
	</div>
</div>

<!-- 
<div class="stream">
	<div class="stream-item" ng-repeat="catch in user.catches | orderBy: '-created_at'">
		
		<img ng-src="{{catch.fishPhoto}}" class="img-responsive">
		<div class="by-line">
			<h5>posted by {{catch.owner}}</h5>
			<h5>{{catch.created_at | date:short}}</h5>
		</div>
		<h4>{{catch.title}}</h4>
		<md-card-actions layout="row" layout-align="end">
			<md-button><span class="material-icons">favorite_border</span></md-button>
		</md-card-actions>
	</div>
</div> -->

