<div id="userProfile_view" class="container">
    <div ng-if="complete == false" layout="column">
        <form role="form" ng-if="authenticated" name="userProfileForm" ng-submit="updateProfile(userProfileForm, model)" novalidate>
			<md-input-container flex>
                <label for="id_first_name">First Name</label>
                <input name="first_name" id="id_first_name" class="form-control" type="text" ng-model="model.first_name"  />
			</md-input-container>
            <div class="alert alert-danger" ng-repeat="error in errors.first_name">{{error}}</div>
			<md-input-container flex>
                <label for="id_last_name">Last Name</label>
                <input name="last_name" id="id_last_name" class="form-control" type="text" ng-model="model.last_name"  />
			</md-input-container>
            <div class="alert alert-danger" ng-repeat="error in errors.last_name">{{error}}</div>
			<md-input-container flex>
                <label for="id_email">Email</label>
                <input name="email" id="id_email" class="form-control" type="email" ng-model="model.email" required />
			</md-input-container>
            <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>
            <md-button type="submit" class="md-raised md-primary" ng-show="authenticated">Update Profile</md-button>
        </form>
        <div class="alert alert-warning" ng-if="authenticated == false">You need to be logged in to do this.</div>
    </div>
    <div ng-if="complete == true">
        <div class="alert alert-success">You have updated your profile.</div>
    </div>
</div>
